<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IpConfig.Properties.URLs" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IpConfig.Properties.URLs>
            <setting name="URLStrings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>localhost</string>
                        <string>localhost:8080</string>
                        <string>202.112.140.210</string>
                        <string>192.168.1.209:8080</string>
                    </ArrayOfString>
                </value>
            </setting>
        </IpConfig.Properties.URLs>
    </userSettings>
</configuration>